
  @import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto+Serif:opsz,wght@8..144,200;8..144,300&display=swap');



body,html {
  min-height: 100vh;
  max-width: 100%;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
    font-family: 'Old Standard TT', serif;
    font-family: 'Roboto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
 
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
